$primary-red: #EA4335;
$primary-yellow: #FBBC05;
$primary-green: #34A853;
$primary-blue: #4285F4;
$main-text: #191A20;
$sub-text: #8C8D96;
$placeholder-text: #B2B3B9;
$border: #E0E2E7;
$header-bg: #F7F8FA;

$font: 'Noto Sans KR', sans-serif;

