$primary-red: #ea4335;
$primary-yellow: #fbbc05;
$primary-green: #34a853;
$primary-blue: #4285f4;
$main-text: #191a20;
$sub-text: #8c8d96;
$placeholder-text: #b2b3b9;
$border: #e0e2e7;
$header-bg: #f7f8fa;
$white: #ffffff;

$font: 'Noto Sans KR', sans-serif;
