@use '../abstracts/variables' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_responsive' as *;

.home {
   height: $page-height;
   @include center;
   flex-direction: column;
   gap: 30px;

   .logo {
      margin: 0;
   }

   .info{
      color: $placeholder-text;
      text-align: center;
      line-height: 1.5;
   }

   .search-bar {
      position: relative;
      width: 100%;
      height: 60px;
      border: 1px solid $border;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding: 10px;

      .icon {
         display: none;
      }

      p {
         font-size: 18px;
         text-transform: capitalize;
         white-space: nowrap;
         color: transparent;
         margin: 0;
         padding-bottom: 5px;
         @include position;

         &::before {
            content: 'Google List에 오신 걸 환영합니다!';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-bottom: 5px;
            color: $main-text;
            overflow: hidden;
            border-right: 3px solid $main-text;
            animation: typing 3s steps(25);
         }
      }
   }

   button {
      padding: 15px;
      border-radius: 10px;
      background-color: $primary-blue;
      color: $white;
   }
}

@keyframes typing {
   0% {
      width: 0%;
   }
   100% {
      width: 100%;
   }
}

@include responsive(tablet) {
   .home {
      .search-bar {
         width: 600px;
         font-size: 24px;

         .icon {
            display: block;
            padding: 10px;
         }

         p {
            font-size: 24px;
         }
      }
   }
}

@include responsive(desktop) {
   .home {
      .search-bar {
         width: 800px;
         font-size: 30px;

         .icon {
            display: block;
            padding: 10px;
         }

         p {
            font-size: 30px;
            font-weight: bold;
         }
      }
   }
}
